.committe{
    /* background-image: url('../Assets/committe/comBack2.jpg');
         */
    background-image: url(../Assets/committe/comBack2.jpg);
    background-repeat: none;
    background-size: cover;

}
