.navBar__itemsList {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-top: 15px;
}

.navBar__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar{
    position: fixed;
    top: 0px;
    color: white;
    /* background-color: whitesmoke; */
    z-index: 100;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;

    /* Animations */
    transition-timing-function: ease in;
    transition : all 0.5s ;
}

.nav__black{
    background-color: #111 !important;
    color: whitesmoke;
}

.navbar-brand{
    color: whitesmoke !important;
    min-width: 20%;
}

.navBar__text{
    padding: 5px;
    border-radius: 10px;
    margin-right: 15px;
}

.navBar__text:hover{
    color: rgb(255, 255, 255,0.8);
    background-color: rgb(255, 255, 255,0.1);
    transform: scale(1.1);
}
